* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: url("../images/pexels-alexy-almond-3758156.jpg")no-repeat center center/cover;
    color: white;
    font-size: 3em;
    padding: 0;
    margin: 0;
    align-items: baseline;
}

.cover-image {
    height: 400px;
    width: 100%;

}

h1 {
    font-size: 2.5rem;
}

table,
th,
td {
    border: 1px solid;
}


main {
    width: 100%;
    background-color: white;
    height: 400px;
    font-size: 1rem;
    color: black;
    flex: 1 0 auto;
    margin-bottom: 25px;
    
}

ul {
    padding-left: 20px
}

#one {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: inherit;
    font-size: 20px;
    color: white;

}

body {
    margin: 10px;
    position: absolute;
    width: 100%;
}

form {
    border: 1px solid #ccc;

}

.signup {
    width: 100%;
    border: none;
    background: white;

}

footer {
    background-color: white;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: purple;
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 2560px) {}