header {
    display: flex;
    margin-bottom: 50px;
    font-size: medium;
    justify-content: space-between;
    width: 100%;
    background:url(../css/images/pexels-alexy-almond-3758156.jpg)no-repeat center center/cover;
    color: white;
    font-size:3em;
    margin: 0;
    padding: 0;
}
.cover-image {
    height: 400px;
    width: 100%; 
    left: 10px;
}
h1 {
    font-size: 2.5rem;
}

main {
    background: url(../css/images/pexels-min-an-1234035.jpg)no-repeat center center/cover;
    width: 100%;
    height: 400px;
    font-size: 1rem;
    padding: 0;
    
    margin: 0;
    color: white;
}

ul{
 padding-left: 20px   
}
 #one {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: inherit;
    font-size: 15px;
    color:white;
    letter-spacing: 4px;
    
}

footer{
    background-color: white;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: purple;
}